<p style="text-align:center;">
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=54YWD37WW6E52" target="_blank">
    <img src="/plugins/hsp-plugin/images/hspdonate.png">
  </a>
</p>