<div class="image">
  {{cdn-img
    src=category.uploaded_logo.url
    class="category-logo"
    width=category.uploaded_logo.width
    height=category.uploaded_logo.height}}
</div>

<div class="name">
  {{category.name}}
</div>

{{#if category.has_access}}
  <div class="description">
    {{category.description_text}}
  </div>
{{/if}}