<div class='logo'>
  <p style="text-align:center;">
    <a href="https://hsp.world/"><img src="/plugins/hsp-plugin/images/hspnosubtitle.png"></a>
  </p>
</div>

<div class='socialmedia'>
  <p style="text-align:center;">
    <a href="https://www.facebook.com/HighlySensitivePersonWorld" target="_blank">
      <img src="/plugins/hsp-plugin/images/fb.png">
    </a> 
    <a href="https://twitter.com/@HSP_World" target="_blank">
      <img src="/plugins/hsp-plugin/images/tw.png">
    </a>
    <a href="https://www.instagram.com/hsp_world/" target="_blank">
      <img src="/plugins/hsp-plugin/images/in.png">
    </a>
    <a href="https://blog.hsp.world/" target="_blank">
      <img src="/plugins/hsp-plugin/images/blog.png">
    </a>
  </p>
</div>