<div class='logo'>
  <p style="text-align:center;">
    <a href="https://hsp.world/"><img src="/plugins/hsp-plugin/images/hsplogo.png"></a>
  </p>
</div>

<div class='socialmedia'>
  <p style="text-align:center;">
    <a href="https://www.facebook.com/HighlySensitivePersonWorld">
      <img src="/plugins/hsp-plugin/images/facebook.png">
    </a>
    <a href="https://twitter.com/@HSP_World">
      <img src="/plugins/hsp-plugin/images/twitter.png">
    </a>
    <a href="https://blog.hsp.world/">
      <img src="/plugins/hsp-plugin/images/wordpress.png">
    </a>
  </p>
</div>